### 导入DataFrame到数据库

In [41]:
import pandas as pd
from sqlalchemy import create_engine

USER_NAME = "root"
PASSWORD = "333"
IP_ADDRESS = "localhost"
PORT = 3306
DB_NAME = "certificate_analysis"

# 初始化数据库连接
# 按实际情况依次填写MySQL的用户名、密码、IP地址、端口、数据库名
engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}"
                       .format(USER_NAME, PASSWORD, IP_ADDRESS, PORT, DB_NAME))

In [50]:
xlsx_data = pd.read_excel(io='./data/2013年认定.xlsx', sheet_name=None)

In [52]:
for key, value in xlsx_data.items():
    # 获取列的个数
    len_column = len(list(value))
    # 6列是证书
    if len_column == 6:
        value.to_sql('certificate', engine, if_exists='append',index=False)
    # 7列是面试成绩
    elif len_column == 7:
        value.to_sql('interview_score', engine, if_exists='append',index=False)
    # 11列是笔试成绩
    elif len_column == 11:
        value.to_sql('written_score', engine, if_exists='append',index=False)
    # 17列是认定成绩
    elif len_column == 17:
        value.to_sql('identification', engine, if_exists='append',index=False)
    else: 
        # 返回错误
        pass

## 教育背景分析
- 考生来源地图
- 学位分布分析
- 专业词云图

### Excel

### MySQL

## 认定信息分析
- 性别、考试类型、机构类型、专业类别
- 最高学位
- 认定地点分析

## 成绩可视化
- 三次缺考率，面试缺考率
- 三科的平均分和通过率

### Excel

## 面试成绩分析

- 各级别的人数

### Excel

In [2]:
import pandas as pd

In [1]:
# constant
FILE_PATH_INTERVIEW = './data/2013年面试成绩导出.xlsx'

In [11]:
# read Data from csv
data_interview_score = pd.read_excel(FILE_PATH_INTERVIEW)

In [12]:
# inspect the head 5 data
data_interview_score.head(5)

  测试点   姓名                身份证号        工作单位         申请专业 等级   考试时间
0  廊坊  蔡志为  131025198708020036    北华航天工业学院         机械制造  B  2013年
1  廊坊   畅谈  370502196904063225  河北石油职业技术学院  C560502工程造价  B  2013年
2  廊坊  陈丽缓  130123198604147544    北华航天工业学院         机械工程  A  2013年
3  廊坊   陈英  130282198512130046  廊坊燕京职业技术学院         机械制图  B  2013年
4  廊坊   陈莹  610121198702180868  河北石油职业技术学院         机械制图  B  2013年

各个级别的人数

In [27]:
rst_interview_score = data_interview_score.groupby('等级')['等级'].count()
rst_interview_score

等级
A      508
B     1416
C      740
D      647
缺考     215
Name: 等级, dtype: int64

In [28]:
dict_rst_interview_score = dict(rst_interview_score)
dict_rst_interview_score

{'A': 508, 'B': 1416, 'C': 740, 'D': 647, '缺考': 215}