In [5]:
import pandas as pd
from sqlalchemy import create_engine

USER_NAME = "root"
PASSWORD = "333"
IP_ADDRESS = "localhost"
PORT = 3306
DB_NAME = "certificate_analysis"

# 初始化数据库连接
# 按实际情况依次填写MySQL的用户名、密码、IP地址、端口、数据库名
engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}"
                       .format(USER_NAME, PASSWORD, IP_ADDRESS, PORT, DB_NAME))

In [6]:
sql_query = 'select count(*) from certificate;'

# 使用pandas的read_sql_query函数执行SQL语句，并存入DataFrame
df_read = pd.read_sql_query(sql_query, engine)

In [8]:
# DataFrame写入MySQL
# 新建DataFrame
df_write = pd.DataFrame({'id': [10, 27, 34, 46], 'name': ['张三', '李四', '王五', '赵六'], 'score': [80, 75, 56, 99]})

# 将df储存为MySQL中的表，不储存index列
df_write.to_sql('testdf', engine, index=False)

   count(*)
0       826